{% extends 'cities/base.html' %}

{% block title %}
    About City Information System
{% endblock %}

{% block content %}
    <div class="row">
        <div class="offset-by-two eight columns">
            <h2>About City Information System</h2>
            <p>The City Information System is a full-featured web application that provides information about various cities and their attractions. It includes details about landmarks, hotels, restaurants, events, reviews, museums, and countries.</p>
            <p>This application is built using the Django web framework and offers a user-friendly interface for exploring and discovering various destinations around the world.</p>
            <p>Whether you are a traveler planning your next adventure or a local resident looking for exciting places to explore, the City Information System is here to assist you in finding the best attractions in each city.</p>
        </div>
    </div>
{% endblock %}
