<!-- cities/city_list.html -->

{% extends 'cities/base.html' %}

{% block title %}
    City List
{% endblock %}

{% block content %}
    <h2>City List</h2>
        {%  if perms.cities.add_city %}
    <a href="{% url 'create-city' %}" class="button button-primary">Create City</a>
    {% endif %}

    <ul>
        {% for city in city_list %}
            <li>
                <a href="{{ city.get_absolute_url }}">{{ city.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}



