{% extends 'cities/base.html' %}

{% block title %}
    Event List
{% endblock %}

{% block content %}
    <h2>Event List</h2>
    <ul>
        {% for event in event_list %}
            <li>
                <strong>Name:</strong> {{ event.name }}<br>
                <strong>City:</strong> {{ event.city.name }}<br>
                <strong>Date:</strong> {{ event.date }}<br>
                {% if event.description %}
                    <strong>Description:</strong> {{ event.description }}
                {% else %}
                    <em>No description available.</em>
                {% endif %}
            </li>
            <hr>
        {% endfor %}
    </ul>
{% endblock %}
