{% extends 'cities/base.html' %}

{% block title %}
    Delete Event
{% endblock %}

{% block content %}
    <form action="{% url 'delete-event' event.id %}" method="post">
        {% csrf_token %}
        <p>
            Are you sure that you want to delete
            event {{ event.name }}?
        </p>
        <a href="{% url 'event-detail' event.id %}" class="button button-primary">
            Cancel</a>
        <button type="submit" class="button button-primary">Delete Event</button>
    </form>
{% endblock %}