{% extends 'cities/base.html' %}

{% block title %}
    Landmark List
{% endblock %}

{% block content %}
    <h2>Landmark List</h2>
    <ul>
        {% for landmark in landmark_list %}
            <li>
                <strong>Name:</strong> {{ landmark.name }}<br>
                <strong>City:</strong> {{ landmark.city.name }}<br>
                <strong>Type:</strong> {{ landmark.get_landmark_type_display }}<br>
                {% if landmark.description %}
                    <strong>Description:</strong> {{ landmark.description }}
                {% else %}
                    <em>No description available.</em>
                {% endif %}
            </li>
            <hr>
        {% endfor %}
    </ul>
{% endblock %}
