{% extends 'cities/base.html' %}

{% block title %}
    Delete Review
{% endblock %}

{% block content %}
    <form action="{% url 'delete-review' review.id %}" method="post">
        {% csrf_token %}
        <p>
            Are you sure that you want to delete
            review {{ review.name }}?
        </p>
        <a href="{% url 'review-detail' review.id %}" class="button button-primary">
            Cancel</a>
        <button type="submit" class="button button-primary">Delete Review</button>
    </form>
{% endblock %}