{% extends 'cities/base.html' %}

{% block title %}
    Review List
{% endblock %}

{% block content %}
    <h2>Review List</h2>
        {%  if perms.cities.add_review %}
        <h4>Once you post your review, you cannot edit/ delete it. This is for the purpose of being anonymous and having a variety of data.</h4>
    <a href="{% url 'create-review' %}" class="button button-primary">Create Review</a>
    {% endif %}

    <ul>
        {% for review in review_list %}
            <li>
                <strong>{{ review.city.name }}</strong><br>
                {% if review.comment %}
                    <strong>Comment:</strong> {{ review.comment|truncatechars:50 }}<br>
                {% else %}
                    <em>No comment available.</em><br>
                {% endif %}
                <strong>Rating:</strong> {{ review.rating }}<br>
            </li>
            <hr>
        {% endfor %}
    </ul>
{% endblock %}


