{% extends 'cities/base.html' %}

{% block title %}
    Tourist Attraction List
{% endblock %}

{% block content %}
    <h2>Tourist Attraction List</h2>
    <ul>
        {% for attraction in tourist_attraction_list %}
            <li>
                <strong>Name:</strong> {{ attraction.name }}<br>
                <strong>City:</strong> {{ attraction.city.name }}<br>
                {% if attraction.description %}
                    <strong>Description:</strong> {{ attraction.description }}
                {% else %}
                    <em>No description available.</em>
                {% endif %}
            </li>
            <hr>
        {% endfor %}
    </ul>
{% endblock %}

